{
    "jt_server":
    {
        "port":44444,
        "workers":8,
        "queue_size":1000
    },
    "jt_admin":
    {
        "port":44445,
        "meta_server":
        {
            "dsn":"jdbc:mysql://172.19.102.12:33066/test?user=root"
        }
    },
    "meta_server":
    {
        "dsn":"jdbc:mysql://172.19.102.12:33066/test?user=root"
    }
}